In [218]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pylab as plt

In [219]:
df = pd.read_csv('notas.csv',sep=';')
df

,noise,matricula,id_turma,nome,siape,concat,id_situacao_matricula,descricao,media_final
0,500,2635915545,438,ELABORAÇÃO DE PROJETOS CULTURAIS,1314589,Refugio Schneider,4,APROVADO,8.0
1,443,2188096962,447,METODOLOGIA DO TRABALHO CIENTÍFICO,2485385,Ammon Schmeler,4,APROVADO,10.0
2,485,2084846937,440,ESTUDO DE MERCADO INFORMACIONAL,2687965,Silvia Willms,4,APROVADO,9.5
3,404,1773301533,442,FUNDAMENTOS TEÓRICOS DA INFORMAÇÃO,2960275,Silvia Willms,4,APROVADO,9.5
4,453,2098470832,446,MEMÓRIA ORGANIZACIONAL: ASPECTOS TÉCNICOS E PR...,1862817,Kalie Bosco,4,APROVADO,8.5
...,...,...,...,...,...,...,...,...,...
354896,11203,2536402992,17580,ESTUDOS SOCIOLÓGICOS E ANTROPOLÓGICOS,1280285,Gena Nienow,4,APROVADO,8.8
354897,11374,2567259177,18020,INTRODUCAO A FILOSOFIA,1526217,Allena Pacocha,4,APROVADO,9.5
354898,12356,1792060888,18019,ANTROPOLOGIA FILOSOFICA,1742202,Aiyana Brown,4,APROVADO,10.0
354899,12588,2273057259,18018,LOGICA I,1271204,Melinda Jast,4,APROVADO,7.0
354900,11063,1459336115,18017,LEITURA DE TEXTOS PRE-SOCRATICOS,1125746,Mordechai Bartoletti,4,APROVADO,10.0

In [220]:
df.descricao.unique()

array(['APROVADO', 'REPROVADO', 'REPROVADO POR MÉDIA E POR FALTAS',
       'REPROVADO POR FALTAS'], dtype=object)

In [221]:
leFe = preprocessing.LabelEncoder()
leFe.fit(df['concat'])
leFe.transform(df['concat'])
df['concat'] = leFe.transform(df['concat'])
leFe.fit(df['descricao'])
leFe.transform(df['descricao'])
df['descricao'] = leFe.transform(df['descricao'])

In [222]:
X = df[["concat", "media_final","descricao"]]

In [223]:
X = X.fillna(0).copy()
X

        concat  media_final  descricao
0          479          8.0          0
1           24         10.0          0
2          522          9.5          0
3          522          9.5          0
4          312          8.5          0
...        ...          ...        ...
354896     209          8.8          0
354897      15          9.5          0
354898      10         10.0          0
354899     405          7.0          0
354900     421         10.0          0

[354901 rows x 3 columns]

In [224]:
kmeans = KMeans(n_clusters=2, init='random').fit(X)

In [225]:
s = pd.Series(kmeans.labels_)
s.value_counts()
kmeans.labels_

array([1, 0, 1, ..., 0, 1, 1], dtype=int32)

In [228]:
X["resposta"] = s
#X.concat = leFe.inverse_transform(X.concat)
#X.descricao = leFe.inverse_transform(X.descricao)
X

        concat  media_final  descricao  resposta
0          479          8.0          0         1
1           24         10.0          0         0
2          522          9.5          0         1
3          522          9.5          0         1
4          312          8.5          0         1
...        ...          ...        ...       ...
354896     209          8.8          0         0
354897      15          9.5          0         0
354898      10         10.0          0         0
354899     405          7.0          0         1
354900     421         10.0          0         1

[354901 rows x 4 columns]

In [244]:
X.query("concat==143")

        concat  media_final  descricao  resposta
9528       143          0.0          1         0
9677       143          0.0          1         0
9796       143          0.0          1         0
9805       143          0.0          1         0
10019      143          7.9          0         0
...        ...          ...        ...       ...
322466     143          8.8          0         0
322868     143          0.0          1         0
323010     143          9.3          0         0
323443     143          0.0          1         0
323577     143          0.0          1         0

[95 rows x 4 columns]

In [229]:
agrupados = X.groupby('concat').mean()
agrupados

        media_final  descricao  resposta
concat
0          8.195891   0.018626         0
1          6.830220   0.461538         0
2          7.867213   0.000000         0
3          7.390865   0.110577         0
4          4.496657   0.474164         0
...             ...        ...       ...
577        7.606103   0.045845         1
578        7.386353   0.217391         1
579        7.610274   0.383562         1
580        7.700000   0.064401         1
581        7.575000   0.050000         1

[582 rows x 3 columns]

In [240]:
agrupados.query("resposta==1 and media_final>7")

        media_final  descricao  resposta
concat
295        8.193673   0.090784         1
296        8.258490   0.011236         1
299        8.586232   0.028986         1
301        8.580342   0.051282         1
302        7.705596   0.215328         1
...             ...        ...       ...
577        7.606103   0.045845         1
578        7.386353   0.217391         1
579        7.610274   0.383562         1
580        7.700000   0.064401         1
581        7.575000   0.050000         1

[226 rows x 3 columns]

In [241]:
agrupados["id"] = agrupados.index

In [242]:
agrupados

        media_final  descricao  resposta   id
concat
0          8.195891   0.018626         0    0
1          6.830220   0.461538         0    1
2          7.867213   0.000000         0    2
3          7.390865   0.110577         0    3
4          4.496657   0.474164         0    4
...             ...        ...       ...  ...
577        7.606103   0.045845         1  577
578        7.386353   0.217391         1  578
579        7.610274   0.383562         1  579
580        7.700000   0.064401         1  580
581        7.575000   0.050000         1  581

[582 rows x 4 columns]